In [19]:
import pandas as pd
import json

# Load the CSV data into a DataFrame
csv_file_path = 'data\Student_Performance_Table.csv'
data_frame = pd.read_csv(csv_file_path)

# Convert the DataFrame to JSON
json_string = data_frame.to_json(orient='records')

# Convert the JSON string to a Python object
data = json.loads(json_string)

json_file_path = 'Student_Performance_Table.json'
# Save the formatted JSON to a file with an indentation of 4 spaces
with open(json_file_path, 'w') as json_file:
    json.dump(data, json_file, indent=4)

print(f"CSV data has been converted and saved to '{json_file_path}'")

CSV data has been converted and saved to 'Student_Performance_Table.json'

In [21]:
pd.read_json('Student_Table.json')

,id,first_name,last_name,email,Gender,Age,Country,IQ_Score,Course_Id,Cohort
0,1,Cazzie,Thrower,cthrower0@gizmodo.com,Male,37,Nigeria,3,2,Cohort 2
1,2,Melisse,Urrey,murrey1@si.edu,Female,26,Kenya,5,5,Cohort 3
2,3,Roselin,Libbe,rlibbe2@nbcnews.com,Female,22,Nigeria,10,5,Cohort 1
3,4,Hester,Wicks,hwicks3@php.net,Female,42,Kenya,4,5,Cohort 4
4,5,Darlleen,Longhorne,dlonghorne4@constantcontact.com,Male,35,Nigeria,10,5,Cohort 4
...,...,...,...,...,...,...,...,...,...,...
245,246,Hamel,Mathivet,hmathivet6t@1und1.de,Female,42,South Africa,3,3,Cohort 4
246,247,Lambert,Eathorne,leathorne6u@live.com,Female,39,Nigeria,5,5,Cohort 3
247,248,Rouvin,Tipperton,rtipperton6v@lycos.com,Male,32,Nigeria,2,3,Cohort 3
248,249,Udale,Hailwood,uhailwood6w@cornell.edu,Male,27,Nigeria,4,3,Cohort 5
249,250,Kettie,Shoutt,kshoutt6x@goodreads.com,Female,45,Nigeria,3,5,Cohort 4

In [ ]:
json_file = 'recommenders\Course_Table.json'  # Replace 'your_json_file.json' with your JSON file's name

# Load the JSON file into a Python data structure
with open(json_file, 'r') as file:
    Course_Table= json.load(file)

json_file = 'recommenders\Student_Table.json'  # Replace 'your_json_file.json' with your JSON file's name

# Load the JSON file into a Python data structure
with open(json_file, 'r') as file:
    Student_Table= json.load(file)

json_file = 'recommenders\Student_Performance_Table.json'  # Replace 'your_json_file.json' with your JSON file's name

# Load the JSON file into a Python data structure
with open(json_file, 'r') as file:
    Student_Performance_Table= json.load(file)

#print(Course_Table)  # You can print or use 'data' as needed

In [ ]:
rec(Student_Performance_Table, Course_Table, Student_Table)